<div class="modal-header">
  <h4 class="modal-title">Record Details</h4>
  <div class="d-ib" style="position: absolute; right: 60px">
    Rating:&nbsp;
    <ngb-rating
      [max]="5"
      [rate]="message?.rating ?? 0"
      (rateChange)="ratingChanged.emit($event)"
    />
  </div>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('')"
  ></button>
</div>
<div *ngIf="message" class="modal-body">
  <div class="container-fluid mg-t-30">
    <div class="row mb-3">
      <label class="col-sm-2 tx-15"> AI Model </label>
      <div class="col-sm-10">
        {{ message.aiModel | aiModelName }}
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-sm-2 tx-15"> When </label>
      <div class="col-sm-10">
        {{ message.timestamp | dateText }}
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-sm-2 tx-15"> Who </label>
      <div class="col-sm-10">
        {{ message.author }}
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-sm-2 tx-15"> System </label>
      <div class="col-sm-10">
        {{ message.system }}
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-sm-2 tx-15"> Prompt </label>
      <div class="col-sm-10">
        {{ message.prompt }}
      </div>
    </div>
    <div class="row mb-3 border-top pd-t-20">
      <label class="col-sm-6 tx-15 tx-center"> Article </label>
      <label class="col-sm-6 tx-15 tx-center"> Response </label>
    </div>
    <div class="row mb-3">
      <div class="col-sm-6 pd-10">
        <div
          class="w-100 bg-gray-300 pd-5 border"
          [innerHTML]="message.article | textToHtml | safeHtml"
        ></div>
      </div>
      <div class="col-sm-6 pd-10">
        <div
          class="w-100 bg-gray-300 pd-5 border"
          [innerHTML]="message.results ?? '' | textToHtml | safeHtml"
        ></div>
      </div>
    </div>
  </div>
</div>
